nav{
  position: relative;
  min-width: 350px;
  min-height:80px ;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  border-radius: 10px;
  padding: 0 15px;
  background: #000;
  box-shadow:
  0 6.7px 5.3px rgba(0,0,0,0.12),
  0 22.3px 17.9px rgba(0,0,0,0.08),
  0 100px 80px rgba(0,0,0,0.04);
  overflow: hidden;
  color:#fff;
}
